#!/bin/bash

#################################
### VARIABLES 
#################################

#################################
# yesterday
#   This variable is used to define a folder name.
#   It is used when we are creating the next 'current' folder.
#   So, current becomes the date of 'yesterday'
#
yesterday=$(date --date="yesterday" +"%Y-%m-%d")


#################################
# bdays
#   This is the number of days back (versions) that we want to keep on disk.
bdays=1


#################################
# backup_eldest
#   The date format for the number of days back (versions) that we want to keep on disk.
#
backup_eldest=$(date --date="-${bdays} days" +%Y%b%d)


#################################
# mdays
#   This is the number of days back (versions) that we want to keep on disk.
mdays=5


#################################
# mysql_eldest
#   The date format for the number of days back (versions) that we want to keep on disk.
#
mysql_eldest=$(date --date="-${mdays} days" +"%Y-%m-%d")


#################################
# DIRNAME
#   This is the foldername that is used for the data
#
DIRNAME=$(date +%Y%b%d)		# datestamp name for directory


#################################
# TMPFILE1
# TMPAWK1
#   These files are used during the build process for 'home' folder backups
#
TMPFILE1="/tmp/backup_1"	# temporary file used to build the backup script
TMPFILE2="/tmp/backup_2"	# temporary file used to build the backup script
TMPAWK1="/tmp/backup_awk_1"	# temporary file used to define the AWK program to build the backup script


#################################
# BDIR
#  This is the base folder where daily backups are kept. 
#
BDIR="/var/spool/backup/daily"	# base directory for the destination of all the backups.


#################################
# MDIR
#  This is the base folder where daily mysql dumps are kept.
#
MDIR="/var/spool/mysqldumps"    # base directory for the destination of all mysql dumps.


#################################
# The 3 lists below are NameLIST, DirectoryLIST, & ExcludeLIST. These are used to define the name of 
# the backup file, the base directory for the backup file, and any exclusions that should occur from that
# directory structure.
#
i=0
NLIST[$i]="bak_etc";		DLIST[$i]="/etc";	ELIST[$((i++))]="";
NLIST[$i]="bak_var";		DLIST[$i]="/var";	ELIST[$((i++))]="spool/backup --exclude=spool/mysqldumps --exclude=cache --exclude=log --exclude=tmp --exclude=www --exclude=run --exclude=lock";
NLIST[$i]="bak_var_www";	DLIST[$i]="/var/www";	ELIST[$((i++))]="";
NLIST[$i]="bak_usr";		DLIST[$i]="/usr";	ELIST[$((i++))]="";
NLIST[$i]="bak_root";		DLIST[$i]="/root";	ELIST[$((i++))]="";

###############################
# S3 usage
# You must install awscli for this to work. And awscli requires pip. So, you probably need to:
#	apt-get install python-pip
#	pip install awscli
# To use S3, turn on the S3_USE variable and set your Access_key_id and Secret_Access_key with appropriate values.
# S3 does not have an heirarchical storage system. It is flat. It emulates heirarchical by using the 'folder' names
# as part of the filename.
# The following 'policy' was used to limit the AWS User to ONLY ACCESS THE INTENDED BUCKET AND FOLDER. 
# Note of course, you must set the Bucket & Folder in the policy before putting it into production.
# And, I guess it follows, that you ARE using AIM to create a user that can only apply these backups.
# {
#  "Version": "2012-10-17",
#  "Statement": [
#    {
#     "Sid": "AllowUserToSeeBucketListInTheConsole",
#     "Action": ["s3:ListAllMyBuckets", "s3:GetBucketLocation"],
#     "Effect": "Allow",
#     "Resource": ["arn:aws:s3:::*"]
#   },
#  {
#     "Sid": "AllowRootAndHomeListingOfCompanyBucket",
#     "Action": ["s3:ListBucket"],
#     "Effect": "Allow",
#     "Resource": ["arn:aws:s3:::bucketnamegoeshere"],
#     "Condition":{"StringEquals":{"s3:prefix":["","foldernamegoeshere/"],"s3:delimiter":["/"]}}
#    },
#   {
#     "Sid": "AllowListingOfUserFolder",
#     "Action": ["s3:ListBucket"],
#     "Effect": "Allow",
#     "Resource": ["arn:aws:s3:::bucketnamegoeshere"],
#     "Condition":{"StringLike":{"s3:prefix":["foldernamegoeshere/*"]}}
#   },
#   {
#     "Sid": "AllowAllS3ActionsInUserFolder",
#     "Effect": "Allow",
#     "Action": ["s3:*"],
#     "Resource": ["arn:aws:s3:::bucketnamegoeshere/foldernamegoeshere/*"]
#   }
#  ]
#}
S3_USE=1
AWS_ACCESS_KEY_ID=youraccesskeyidgoeshere
AWS_SECRET_ACCESS_KEY=yoursecretaccesskeygoeshere
S3_MDAYS=30
S3_MYSQL_ELDEST=`date --date="-${S3_MDAYS} days" +"%Y-%m-%d"`
S3_BUCKET='bucketnamegoeshere'
S3_FOLDER='foldernamegoeshere'
